{% if extras.imageSource and vars.text %}
    <div>
        <img class="{% if extras.imagePosition == "left" %}pull-left{% else %}pull-right{% endif %} img-responsive" src="{{ extras.imageSource }}" {% if cfgs.width %}width="{{cfgs.width}}"{% endif %}{% if cfgs.height %} height="{{cfgs.height}}"{% endif %} style="{% if extras.imagePosition == "right" %}margin-left:{{ extras.margin }}{% else %}margin-right:{{ extras.margin }}{% endif %};margin-bottom:{{ extras.margin }}; max-width: 50%;">
        <div>
            {% if cfgs.heading is not empty %}<{{ cfgs.headingType }}>{{ cfgs.heading }}</{{ cfgs.headingType }}>{% endif %}
            {% if cfgs.textType == 1 %}{{ extras.text }}{% else %}<p>{{ extras.text|nl2br }}</p>{% endif %}

            {% if cfgs.btnHref and cfgs.btnLabel is not empty %}
                <br>
                <a class="button" {% if cfgs.targetBlank == 1  %}target="_blank"{% endif %} href="{% if cfgs.btnHref is not empty %}{{ cfgs.btnHref }}{% else %}#{% endif %}">
                {% if cfgs.btnLabel is not empty %} {{ cfgs.btnLabel }} {% endif %}
                </a>
            {% endif %}
        </div>
    </div>
    <div style="clear:both"></div>
{% endif %}
